@page
@model SupermarketWEB.Pages.Purchases.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Purchases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Purchase.Id" />
            <div class="form-group">
                <label asp-for="Purchase.ProviderName" class="control-label"></label>
                <select asp-for="Purchase.ProviderName" class="form-control" asp-items="@(Model.Provider)"></select>
                <span asp-validation-for="Purchase.ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.ProductName" class="control-label"></label>
                <select asp-for="Purchase.ProductName" class="form-control" asp-items="@(Model.Product1)"></select>
                <span asp-validation-for="Purchase.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Quantity" class="control-label"></label>
                <input asp-for="Purchase.Quantity" class="form-control" />
                <span asp-validation-for="Purchase.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.ProductPrice" class="control-label"></label>
                <input asp-for="Purchase.ProductPrice" class="form-control" />
                <span asp-validation-for="Purchase.ProductPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Purchase.TotalPurchase" class="control-label"></label>
                <input asp-for="Purchase.TotalPurchase" class="form-control" type="text" maxlength="15" />
                <span asp-validation-for="Purchase.TotalPurchase" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Purchase.Observation" class="control-label"></label>
                <input asp-for="Purchase.Observation" class="form-control" />
                <span asp-validation-for="Purchase.Observation" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary"> Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}